<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/geral.css">
    <link rel="stylesheet" href="css/cards.css">
  </head>
  <body>
    <%- include('header'); %>
    <main>
      <section class="container d-flex d-flex--between d-flex--col d-flex--align-start">
        <% if(data === null) { %>
          <h2>Falha ao trazer dados</h2>
        <% }else { %>
          <div class="d-flex d-flex--between w-100">
            <h2 class="subtitle">Receitas</h2>
            <div>
              <button data-testid="buscar-receita" class="link link--secondary">Buscar Receitas</button>
              <% if(user) { %>
                <button data-testid="nova-receita" class="link link--contrast">Nova Receita</button>
              <% } %>
            </div>
          </div>
          <div class="cards">
            <% data.forEach(item => { %>
              <div class="card">
                <h3><%= item.recipe %></h3>
                <small class="text--secondary"><%= item.user %></small>
                <div class="details"><a class="link link--primary" href="/recipes/<%= item.id%>">Ver mais</a></div>
              </div>
            <% }); %>
          </div>
        <% } %>
      </section>
    </main>
  </body>
</html>
