<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/geral.css">
    <link rel="stylesheet" href="/css/cards.css">
  </head>
  <body>
    <%- include('header'); %>
    <main>
      <section class="container d-flex d-flex--between d-flex--col d-flex--align-start">

        <form action="/recipes/search" method="GET" class="d-flex d-flex--between w-100 card--big">
          <input data-testid="receita" type="text" name="q" class="input--seach" placeholder="Pesquisar...">
          <button data-testid="buscar" type="submit">Buscar</button>
        </form>

        <% if( typeof data !== 'undefined' && data === null) { %>
          <h2>Falha ao trazer dados</h2>
        <% }else { %>
          <h2 class="subtitle">Receitas</h2>
          <div class="cards">
            <% if( typeof data !== 'undefined' ) data.forEach(item => { %>
              <div class="card">
                <h3><%= item.recipe %></h3>
                <small class="text--secondary"><%= item.user %></small>
                <div class="details"><a class="link link--primary" href="/recipes/<%= item.id%>">Ver mais</a></div>
              </div>
            <% }); %>
          </div>
        <% } %>
      </section>
    </main>
  </body>
</html>
