<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/geral.css">
    <link rel="stylesheet" href="css/cards.css">
  </head>
  <body>
    <%- include('header'); %>
    <main>
      <section class="container d-flex d-flex--between d-flex--col d-flex--align-start">
        <% console.log(data) %>
      </section>
    </main>
  </body>
</html>
