<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Recipe</title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/geral.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/cards.css">
    
  </head>
  <body>
    <main>
      <section class="container d-flex d-flex--center d-flex--col h-100">
        <% if (message) {%>
          <div class="message link--danger">
            <%= message %>
          </div>
        <% } %>

        <form action="/recipes/<%= data %>/delete" method="POST" class="d-flex d-flex--col d-flex--center ">
         <h2>Confirmar a Exclusão ?</h2>
          <div class="card--big card--big-inner w-100">
            <label for="password">Senha:</label>
            <input data-testid="senha" type="password" id="password" name="password">
          </div>
         <div class="card--big card--big-inner w-100 d-flex d-flex--between">
            <a data-testid="cancelar" href="/" class="link link--danger">Cancelar</a>
            <button data-testid="confirmar" type="submit" class="link link--contrast">Confirmar</button>
         </div>
       </form>
      </section>
    </main>
  </body>
</html>
