.cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.card {
  background-color: white;
  box-shadow: 1px 1px 2px 1px rgba(0 ,0 ,0 , .2);
  flex: 0 1 250px;
  margin: 20px;
  padding: 20px;
}

.details {
  padding: 5px;
  text-align: right;
  width: 100%;
}
